<div class="sidebar">
  <div class="logo">
    <img src="/img/logo.svg" alt="YouWhach">
    <h1>YouWhach</h1>
  </div>
  <ul>
    <a href="/video/em_alta">
       <li><i class="fa-solid fa-user"></i><span>Em alta</span></li>
    </a>
    <li><i class="fa-solid fa-clock-rotate-left"></i><span>Histórico</span></li>
    <li><i class="fa-solid fa-user"></i><span>Ajuda</span></li>
  
    <a href="/configuracoes">
          <li><i class="fa-solid fa-gear"></i><span>Configurações</span></li>

    </a>

    <a href="/usuario/minha_conta">
      <li><i class="fa-solid fa-user-circle"></i><span>Minha Conta</span></li>
    </a>
    
  </ul>
</div>
